.box {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.btn {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#18ab29;
    font-weight:bold;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    text-shadow: 1px 1px 0px #2f6627;
    background:#44c767;
  }
  
  .btn:hover {
    background: #5cbf2a;
  }
    

  .btn-ng {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#db4b35;
    font-weight:bold;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    text-shadow: 1px 1px 0px #2f6627;
    background:#db4b35;
  }
  
  .btn-ng:hover {
    background: #f61601;
  }